@keyframes images {
    0% {opacity: 0;}
    100% {opacity: 1;}

}
@font-face {
    font-family: ironman;
    src: url(../fonts/IRON\ MAN\ OF\ WAR\ 002\ NCV.ttf);
}
#bg img.top {
    
    animation: images;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: -5;
    position: absolute;
    left: 0;
    top: 0;    
    width: 100%;
    height: auto;
}
h1  {
    text-align: center;
    line-height: 150px;
    font-family: ironman;
    font-size: 100px;
    text-decoration: none;
    color: black;
}

#Lista1 {
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
.separador {
    display: inline;
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
}
.Link{
    text-decoration: none;
    color: black;
}
.separador {
    display: inline;
    padding: 0.5px;
}
li {
    width: 10%;
    float: left;
    margin-left: 12%;
    text-align: center;
}
ul {
    list-style-type: none;
}

    