.visibledevice {display:none;}
.visibledesktop {text-align: center;
    margin: 100px;
}
@media  (max-width: 320px) {
    .bg {
      display: none;
        }
    }
body, html{  
    height: 100%;
    margin: 0;
    
    }
@media (max-width : 320px) {
    .visibledevice {display:block;
    float: left; margin-top: -50px;
    font-size: 15px;}
    .visibledesktop {display:none;}
}
@keyframes images {
    0% {opacity: 0;}
    100% {opacity: 1;}

}
@font-face {
    font-family: ironman;
    src: url(../fonts/IRON\ MAN\ OF\ WAR\ 002\ NCV.ttf);
}
* {
    box-sizing: border-box;
  }
.pagina {
    top: 0;
    left: 0;
    position: absolute;
}
.pagina2 {
    top: 800px;
    left: 0;
    position: absolute;
    
}
.img1 {
    background-image: url("../images/beer.jpg");
    
}
.img2 {
    background-image: url("../images/placeholder.jpg");
}
.img3 {
    background-image: url("../images/placeholder2.jpg");
}
.img4 {
    background-image: url("../images/placeholder3.webp");
}
.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
    background-attachment: fixed;
  }
  
.top {
    
    animation: cgimage;

    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: -5;
    
    
}
h1  {
    text-align: center;
    line-height: 150px;
    font-family: ironman;
    font-size: 100px;
    text-decoration: none;
    color: black;
}

#Lista1 {
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
.separador {
    display: inline;
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
}
.Link{
    text-decoration: none;
    color: black;
}
.separador {
    display: inline;
    padding: 0.5px;
}
li {
    width: 10%;
    float: left;
    margin-left: 12%;
    text-align: center;
}
ul {
    list-style-type: none;
}
